.simple {
  width: 500px;
  height: 20px auto;
  border: 5px solid green;
}

.bigger {
  width: 500px;
  border: 5px solid green;
  margin: 20px auto;
  padding: 50px;
  border-width: 10px;
}

/*  margin: 20px auto;
  padding: 50px;
  border-width: 10px;
   */
