/* Please make "This is an ad..." blue, but make sure it is specific enough that you could add other h3's somewhere eles in the document. */
h1 {
  font-size: 30px;
  border: 3px solid red;
  padding-left: 5px;
}

/* Please make "I like turtles." red */
h2 {
  font-size: 25px;
  border: 10px solid gold;
  margin: 30px 0;
  padding: 10px 0;
}

/* Please select "Hello, world!" with the highest level of specificity possible*/
span {
  border: 3px solid black;
  background: blue;
  padding: 5px;
}

/* Please select "Let's get down to business..." with the highest level of specificity possible */
section {
  width: 25%;
  height: 200px;
  margin: 0 auto;
  border: 3px solid purple;
}
