* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.item {
  /* same as width */
  /* flex-basis: 100px; */
  flex: 1 0 100px;
  height: 100px;
  background: #254de4;
  margin: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  background-color: #f4f4f4;
  /* helps with responsivenss */
  flex-wrap: wrap;
  /* Always is on the main axis */
  /* justify-content: space-between; */
  /* ALways on the cross axis */
  /* align-items: center; */
}

.item:nth-of-type(1) {
}

.item:nth-of-type(2) {
}

.item:nth-of-type(3) {
}
